---
// const words = ["Dog", "Cat", "Platypus"];
import words from '../data/words.js';
---
<ul>
  {words.map((word) => (
    <li><span>{word.ru}</span> - {word.en}</li>
  ))}
</ul>

<style>
    ul {
        list-style-type:none;
        padding: 0;
        margin: 0;
    }
    
    li:nth-child( odd ) span {
        color: purple;
        font-weight: bold;
    }

    li:nth-child( even ) span {
        color: green;
        font-weight: bold;
    }

</style>