---
import words from '../data/words.js';
const { lesson_id } = Astro.props;
---
<ul>
  {words.map((word) => (
    lesson_id === word.lesson_id && <li><span>{word.ru}</span> - {word.en}</li>
  ))
  }
</ul>

<style>
    ul {
        list-style-type:none;
        padding: 0;
        margin: 0;
    }
    
    li:nth-child( odd ) span {
        color: purple;
        font-weight: bold;
    }

    li:nth-child( even ) span {
        color: green;
        font-weight: bold;
    }

</style>