---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <!-- <h1>Title: {frontmatter.title}</h1> -->
    <p>Published on: {frontmatter.pubDate.slice(0,10)}</p>
    <p>Written by Irina Borisova</p>
    <slot />
</Baselayout>